@font-face {
  font-family: "ptsans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: "ptsans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "ptsans";
  font-weight: 700;
  font-style: bold;
  src: url("../fonts/ptsansbold.woff") format("woff2");
}
@font-face {
  font-family: "ptsans";
  font-weight: 700;
  font-style: bold;
  src: url("../fonts/ptsansbold.woff2") format("woff2");
}
.html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #ffffff;
  min-height: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  width: 320px;
  margin: 0 auto;
  font-family: "ptsans", sans-serif;
}
@media (min-width: 768px) {
  .page {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .page {
    width: 1200px;
    margin: 0 auto;
  }
}

.adventages {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero {
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  height: 390px;
  text-align: center;
}
@media (min-width: 768px) {
  .hero {
    background-image: url("../img/hero-tablet.jpg");
    height: 518px;
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: url("../img/hero-desktop.jpg");
    height: 518px;
    background-position: center;
  }
}
.hero--catalog {
  background-image: url("../img/back-form.jpg");
  height: 214px;
}

.title {
  font-family: "ptsans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
.title--color {
  color: #ffffff;
}

.inner-list {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #eeeeee;
  color: #333333;
}

.link {
  font-family: "ptsans bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
}

.main-nav {
  display: flex;
  position: relative;
  z-index: 2;
  min-height: 56px;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .main-nav {
    z-index: 0;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    z-index: 0;
  }
}

.main-nav__link {
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #000000;
    background-color: #ffffff;
  }
}
@media (min-width: 1200px) {
  .main-nav__link {
    background-color: #ffffff;
    color: #000000;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
  }
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    display: flex;
    align-items: center;
  }
}

.main-nav__toggle {
  display: block;
}
.main-index {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-index__booking {
  padding-left: 18px;
  padding-right: 18px;
}

.main-index__hero-text {
  margin-top: 90px;
}

.intro {
  padding-left: 18px;
  padding-right: 18px;
}

.adventage--color {
  color: #ffffff;
  background-color: #81b3d2;
}
.adventage--grey {
  background-color: #eeeeee;
}

.adventage__inner-list {
  padding-left: 18px;
  padding-right: 18px;
}

.adventage__wrapper {
  padding-left: 18px;
  padding-right: 18px;
}

.author {
  text-transform: capitalize;
  color: #333333;
}

.button {
  font-family: "ptsans bold", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
}

.popup {
  display: none;
}

.label--bold {
  font-family: "ptsans-bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: none;
  color: #000000;
}

.footer__social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer__wrapper {
  padding: 33px 82px;
}

.photos__list {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.photo__link {
  display: flex;
  justify-content: center;
}

.video__link {
  display: flex;
  justify-content: center;
}

.main-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-form__form {
  padding-left: 20px;
  padding-right: 20px;
}

.main-form__hero-text {
  padding-top: 52px;
}

.header {
  position: relative;
}
@media (min-width: 768px) {
  .header {
    position: relative;
  }
}
@media (min-width: 1200px) {
  .header {
    position: relative;
  }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.logo {
  z-index: 2;
}
/*# sourceMappingURL=style.css.map */