.adventage {
  &--color {
    color: #ffffff;
    background-color: $blue;
  }

  &--grey {
    background-color: $gray-bg;
  }
}

.adventage__inner-list {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.adventage__wrapper {
  @include index-padding;
  @include flex-centring-column;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  height: auto;

  @media (min-width: $tablet-width) {
    width: $adventage-tablet;
    height: $adventage-tablet;
    padding: 33px 33px;
    padding-top: 42px;
    padding-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    width: $adventage-desktop;
    padding: 50px 50px;
    min-height: $adventage-tablet;
    height: auto;
  }

  &--color {
    padding-top: 38px;
    padding-bottom: 37px;
    position: relative;
    height: auto;

    @media (min-width: $tablet-width) {
      padding-top: 53px;
    }
  }

  &--decorated {
    padding-top: 70px;
    padding-bottom: 39px;
    height: auto;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/triangle_mobile.svg");
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 37px;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    @media (min-width: $tablet-width) {
      padding-top: 51px;
    }
  }
}

.adventages__inner-list .adventages__item:not(:last-of-type)::after {
  @media (max-width: $mobile-width-only) {
    content: "";
    position: absolute;
    border-bottom: 1px solid rgba(214, 214, 214, 1);
    width: 284px;
    height: 1px;
    bottom: 0;
    left: 18px;
  }
}

.adventage__with-image-wrappper {
  @include list-reset;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  &--reversed {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.adventage__title {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 80px;
  }
}


.adventage__description {
  margin: 0;
  text-align: center;

  &--extra-padding {
    @media (min-width: $tablet-width) {
      padding: 0 5px;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0;
    }
  }

  &--extra-color-padding {
    @media (min-width: $desktop-width) {
      padding: 0 35px;
    }
  }
}

.adventage__number {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }
}

.adventage__image {
  display: block;
  width: 100%;
  height: auto;
}
