.adventages {
  @include list-reset;
}

.adventages__inner-list {
  @include list-reset;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }

  // @media (min-width: $desktop-width) {
  // }

  & .adventages__item:nth-child(3) {
    padding-top: 2px;
    padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

}

.adventages__item {
  position: relative;
}
