.button {
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;

  &--submit {
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 50%;
    }
  }
  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.button--burger {
  position: relative;
  width: 23px;
  height: 23px;
  color: $blue;
  background-color: transparent;
  z-index: 3;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/burger-menu.svg");
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
    background-position: center;
    transform: translate(-50%, -50%);
  }
}

// .button--burger:focus-within::after {
//   background-image: url("../img/icon-cross.svg");
// }

// .button--burger:focus-within + .main-nav {
//   display: block;
// }
