.footer {
}

.footer__social-list {
  @include list-reset;
  display: flex;
}

.footer__wrapper {
  padding: 33px 82px;
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
  }
}
