.form .form__section {
  @media (max-width: $mobile-width-only) {
    padding-bottom: 24px;
  }
}

.form__inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;

  @media (max-width: $mobile-width-only) {
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 42px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &--centred {
      padding-left: 84px;
      padding-right: 84px;

      @media (min-width: $tablet-width) {
        padding-bottom: 27px;
      }

      @media (min-width: $desktop-width) {
        padding: 0;
        margin-top: 33px;
        padding-bottom: 70px;
        gap: 65px;
        justify-content: center;
      }
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
    padding-bottom: 56px;
  }
}

.form__input-wrapper {
  display: block;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
  }

  &--radio {
    display: flex;
    align-items: center;
  }

  &--tel {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/phone.svg");
      top: 40px;
      width: 18px;
      height: 18px;
      right: 20px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $desktop-width) {
        right: 79px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      background: $medium-gray;
      top: 0;
      width: 58px;
      height: 58px;
      right: 0;
      transform: translateY(36%);

      @media (min-width: $desktop-width) {
        right: 59px;
      }
    }
  }

  &--email {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/mail.svg");
      top: 43px;
      width: 16px;
      height: 12px;
      right: 20px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $desktop-width) {
        right: 79px;
      }
    }

    &::before {
      content: "";
      position: absolute;
      background: $medium-gray;
      top: 0;
      width: 58px;
      height: 58px;
      right: 0;
      transform: translateY(36%);

      @media (min-width: $desktop-width) {
        right: 59px;
      }
    }
  }
}

.form__section {
  @include fieldset-reset;
  display: flex;
  border: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #e5e5e5;
      width: 112.5%;
      height: 1px;
      bottom: 0;
      left: -6%;
    }
  }

  &:nth-child(2) {
    padding-bottom: 34px;
  }
}


.main-form__row-wrapper .form__section {
  &:first-child {
    @media (max-width: $mobile-width-only) {
      padding-bottom: 39px;
    }

    @media (min-width: $tablet-width) {
      border-right: 1px solid #dbdbdb;
    }

    &:last-child {
      @media (max-width: $mobile-width-only) {
        padding-bottom: 34px;
      }
    }
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 22px;
  align-items: flex-end;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 156px;
    padding-right: 156px;
  }
}

.form__textarea {
  padding: 16px;
  width: 280px;
  resize: vertical;
  background-color: $soft-gray;
  font-family: inherit;
  border: none;
  margin-bottom: 26px;
  min-height: 150px;
  font-family: "ptsans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);

  @media (min-width: $tablet-width) {
    min-height: 160px;
    width: 648px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 768px;
  }
}

.form__title {
  margin-bottom: 20px;
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 28px;

    &--left {
      padding-right: 28px;
    }

    &--right {
      padding-left: 23px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 60px;

    &--left {
      padding-right: 0;
      padding-left: 9px;
    }

    &--right {
      padding-left: 0;
      padding-right: 9px;
    }
  }
}

.form__label {
  margin-left: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 16px;
  }
}

.form__textarea-wrapper {
  display: flex;
  justify-content: space-around;
}

.form-hint {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  color: rgba(51, 51, 51, 0.6);
  margin-top: 3px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 21px;
    margin-top: 7px;
  }
}

.form__input-checkbox[type="checkbox"]:checked + .input--checkbox::before {
  position: absolute;
  content: "";
  background-image: url("../img/tick.svg");
  width: 22px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-3px);
}

.form__input-radio-checkbox[type="radio"]:checked + .input--radio::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 100vh;
}


form .form__section:first-of-type {
  padding-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .form__input-wrapper--radio:nth-child(odd) {
    display: flex;
    flex-direction: column;
    padding-left: 36px;

    @media (min-width: $desktop-width) {
      padding-left: 0;
    }

    .form__input-wrapper--radio:nth-child(even) {
      padding-left: 7px;
    }

    .form__inputs-wrapper--nopadding {
      padding-bottom: 20px;
    }

    .form__input-wrapper--checkbox:nth-child(even) {
      padding-left: 15px;
    }
  }
}

.form__input-wrapper--left {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 60px;
  }
}

.form__input-wrapper--right {
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 24px;
  }
}

@media (min-width: $desktop-width) {
  .form__inputs-wrapper--nopadding {
    gap: 60px;
    justify-content: center;
    margin-top: 18px;
    padding-bottom: 27px;
  }

  .form__inputs-wrapper--centred {
    padding: 0;
    margin-top: 33px;
    padding-bottom: 70px;
    gap: 65px;
    justify-content: center;
  }
}
