.header {
  @media (max-width: $mobile-width-only) {
    position: relative;
    min-height: 56px;

    &--menu-closed .header__main-nav {
      display: none;
    }

    &--menu-closed .button--burger {
      display: block;
      position: absolute;
      width: 23px;
      height: 23px;
      color: $blue;
      background-color: transparent;
      z-index: 3;
    }

    &--menu-closed .button--burger::after {
      content: "";
      position: absolute;
      background-image: url("../img/burger-menu.svg");
      background-repeat: no-repeat;
      width: 23px;
      height: 23px;
      background-position: center;
      transform: translate(-50%, -50%);
      background-color: transparent;
    }

    &--menu-opened .header__main-nav {
      display: block;
    }

    &--menu-opened .button--burger::after {
      background-image: url("../img/icon-cross.svg");
    }
  }

  &--nojs {
    .header__menu-toggle {
      display: none;
    }

    .main-nav {
      @media (max-width: $mobile-width-only) {
        display: block;
        position: static;
        transform: translate(0, 0);
      }
    }

    & img {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
  }

  // @media (min-width: $desktop-width) {
  // }
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.header__menu-toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 3;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  // @media (min-width: $desktop-width) {
  // }
}
