.hero {
  background-image: url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  padding: 90px 19px 78px 19px;
  text-align: center;
  position: relative;
  background-color: #000000;
  // background-position: center;

  @media (max-width: $mobile-width-only) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 320px auto;
      background-position: 50% 0;
    }
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/hero-desktop.jpg");
    padding: 77px 153px 87px 153px;
    background-size: 1200px auto;
    background-position: 50% 0;
    background-color: #000000;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1200px auto;
      background-position: 50% 0;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/hero-desktop.jpg");
    padding: 77px 370px 87px 370px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1200px auto;
      background-position: 50% 0;
    }
  }

  &--inner-page {
    padding: 52px 40px 67px 40px;
    background-position: 50% 100%;

    @media (min-width: $tablet-width) {
      padding: 95px 147px 117px 147px;
    }

    @media (min-width: $desktop-width) {
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background-position: center;

    @media (min-width: $tablet-width) {
    }

    @media (min-width: $desktop-width) {
    }
  }
}

.hero--catalog::after {
  top: 65.7%;
  @media (min-width: $tablet-width) {
    top: 78.3%;
  }

  @media (min-width: $desktop-width) {
    top: 78.5%;
  }
}
