.inner-list {
  @include list-reset;
  background-color: #eeeeee;
  color: #333333;
}

.inner-item {
  width: 100%;
  // margin-bottom: 25px;
  padding: 24px 18px;
  background-color: #ffffff;

  &--food {
    padding-top: 2px;

    @media (min-width: $tablet-width) {
      padding: 24px 18px;
    }
  }

  &--present {
    padding-top: 2px;
    padding-bottom: 42px;

    @media (min-width: $tablet-width) {
      padding: 24px 18px;
    }

  }

  @media (min-width: $tablet-width) {
    width: $adventage-tablet;
    margin-bottom: 0;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: $adventage-desktop;
    min-height: $adventage-desktop-height;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 69px;
    padding-bottom: 69px;
  }
}

.inner-item--hotel {
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: contain;
  // width: 40px;
  // height: 40px;
  // display: inline-block;
  // background-image: url("../img/house.svg");
}

.inner-item__description {
  margin: 0;
  text-align: left;
  padding-left: 48px;

  @media (min-width: $tablet-width) {
    text-align: center;
    padding-left: 0;
  }
}

.inner-list__icon-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    gap: 26px;
    margin-bottom: 25px;
  }
}

.inner-item__title {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    // gap: 26px;
    margin-bottom: 27px
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  &--hotel::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    background-image: url("../img/house.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 77px;
      height: 72px;
      margin-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 73px;
      background-size: 80px 79px;
      margin-bottom: 18px;
    }
  }

  &--burger::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    background-image: url("../img/burger.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;


    @media (min-width: $tablet-width) {
      width: 80px;
      height: 69px;
      margin-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      width: 73px;
      height: 76px;
      background-size: 73px 70px;
    }
  }

  &--present::before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    background-image: url("../img/gift.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 67px;
      height: 75px;
      margin-bottom: 7px;
    }

    @media (min-width: $desktop-width) {
      width: 78px;
      height: 75px;
      background-size: 78px 75px;
      margin-bottom: 17px;
    }


  }
}

.inner-list__icon {
  // display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;

  // &--hotel::before {
  //   content: url("../img/house.svg");
  //   display: block;
  //   position: absolute;
  //   height: 40px;
  //   width: 40px;
  //   top: 0;
  //   left: 0;
  //   background-repeat: no-repeat;
  //   object-fit: contain;
  // }

  &--burger::before {
    content: url("../img/burger.svg");
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    object-fit: contain;
  }

  &--present::before {
    content: url("../img/gift.svg");
    display: block;
    position: absolute;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    object-fit: contain;
  }
}
