.input {
  font-weight: 700;
  width: 100%;
  height: 58px;
  background-color: $soft-gray;
  border: none;
  padding: 16px;
  font-size: 18px;

  &--radio,
  &--checkbox {
    width: 46px;
    height: 46px;
  }

  &--radio {
    border-radius: 100vh;

    &:hover {
      background-color: $medium-gray;
    }

    &:active {
      background-color: $deep-gray;
    }
  }

  &--checkbox {
    border-radius: 4px;

    &:hover {
      background-color: $medium-gray;
    }

    &:active {
      background-color: $deep-gray;
    }
  }

  &--count:not(:placeholder-shown) {
    &:active {
      background-color: #e5e5e5;
    }
  }

  &--count::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &--graph {
    &:hover {
      background-color: #e5e5e5;
    }

    @media (min-width: $tablet-width) {
      width: 295px;
    }

    @media (min-width: $desktop-width) {
      width: 430px;
    }
  }
}

.input--radio:active::before,
.input--checkbox:active::before {
  opacity: 0.3;
}

.form__box:focus-within .input--checkbox {
  outline: 2px solid #000000;
  outline-offset: 2px;
}

.form__box:focus-within .input--radio {
  outline: 2px solid #000000;
  outline-offset: 2px;
}
