.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__description {
  margin: 0;
  text-align: center;
}

.intro__booking-wrapper {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding-left: 29px;
  padding-right: 29px;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding-left: 160px;
    padding-right: 160px;
    margin-bottom: 44px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-left: 375px;
    padding-right: 375px;
  }
}

.intro__slogan {
  margin-bottom: $intro-title-margin;
}

.intro__booking-title {
  margin-bottom: $intro-title-margin;
}

.intro__booking-link {
  padding: 16px 49px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto;
    padding: 14px 124px;
  }

  @media (min-width: $desktop-width) {
  }
}

.intro__booking-link-wrapper {
  text-align: center;

  // @media (min-width: $tablet-width) {
  //   padding: 166px;
  // }

  // @media (min-width: $desktop-width) {
  //   padding: 166px;
}

.intro__title {
  margin-bottom: 30px;
}
