.main-nav {
  display: flex;
  position: relative;
  z-index: 2;
  min-height: 56px;
  justify-content: space-around;

  @media (min-width: 768px) {
    z-index: 0;
  }
  @media (min-width: 1200px) {
    z-index: 0;
  }
}

.main-nav__link {
  background-color: $blue;

  @media (min-width: 768px) {
    color: #000000;
    background-color: #ffffff;
  }
  @media (min-width: 1200px) {
    background-color: #ffffff;
    color: #000000;
  }
}

.main-nav__list {
  @include list-reset;

  @media (min-width: 768px) {
    display: flex;
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.main-nav__toggle {
  display: block;

  @media (min-width: $tablet-width) {
    // display: none;
  }

  @media (min-width: $desktop-width) {
    // display: none;
  }
}
