.main-nav {
  display: flex;
  z-index: 2;
  min-height: 56px;
  justify-content: space-around;
  background-color: #81b3d2;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 320px;

  @media (min-width: 768px) {
    position: relative;
    z-index: 0;
    background-color: #ffffff;
  }

  @media (min-width: 1200px) {
    z-index: 0;
  }
}

.main-nav__link {
  background-color: $blue;

  @media (min-width: 768px) {
    color: #000000;
    background-color: #ffffff;
  }
  @media (min-width: 1200px) {
    background-color: #ffffff;
    color: #000000;
  }
}

.main-nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  align-items: center;
  @include list-reset;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 100px;
  }

  @media (min-width: 1200px) {
    gap: 220px;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.main-nav__toggle {
  display: block;

  @media (min-width: $tablet-width) {
    // display: none;
  }

  @media (min-width: $desktop-width) {
    // display: none;
  }
}
