.main-catalog {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-catalog__intro {
  @include index-padding;
  padding-top: 37px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    @include catalog-padding-tablet;
    padding: 66px 155px;
    padding-bottom: 80px;
    // padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    // padding: 0, 370px;
    padding: 100px 371px 87px 371px;
  }

   &--bottom {
    padding-top: 17px;
    padding-bottom: 38px;
    padding-left: 27px;
    padding-right: 27px;
    // padding-top: 55px;

    @media (min-width: $tablet-width) {
      padding-bottom: 90px;
      padding-left: 161px;
      padding-right: 161px;
      padding-top: 55px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 88px;
      padding-left: 161px;
      padding-right: 161px;
      padding-top: 60px;
    }
  }
}

.main-catalog__hero-text {
  @media (min-width: $tablet-width) {
    width: 457px;
    height: 78px;
  }

}

.main-catalog__video {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}
