.main-nav {
  display: none;
  z-index: 2;
  min-height: 56px;
  justify-content: space-around;
  background-color: #81b3d2;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 320px;
  font-size: 14px;
  line-height: 21px;

  @media (min-width: 768px) {
    display: flex;
    position: relative;
    z-index: 0;
    background-color: #ffffff;
    left: 0;
    transform: translateX(0);
    width: 100%;
  }

  @media (min-width: 1200px) {
    z-index: 0;
  }
}

.main-nav__link {
  background-color: $blue;
  padding: 2px 60px;
  line-height: 26px;
  padding-top: 17px;
  padding-bottom: 12px;
  display: block;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (max-width: $mobile-width-only) {
    &:hover {
      @include blue-hover-style;
    }

    &:active {
      @include blue-active-style;
    }
  }

  @media (min-width: 768px) {
    box-shadow: none;
    color: #000000;
    background-color: #ffffff;
    padding: 17px 27px;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      color: #81b3d2;
    }

    &:active {
      color: #b3b3b3;
    }
  }

  @media (min-width: 1200px) {
    background-color: #ffffff;
    color: #000000;
  }
}

.main-nav__list {
  @include list-reset;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (max-width: $mobile-width-only) {
    &::after {
      content: "";
      position: absolute;
      width: 320px;
      height: 7px;
      left: 0;
      bottom: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 100%
      );
    }
  }

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    padding-top: 1px;
  }

  @media (min-width: 1200px) {
    gap: 100px;
    padding: 0 45px;
  }
}

.main-nav__wrapper {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.main-nav__toggle {
  display: block;
}

.main-nav__link-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-nav__link-wrapper {
    flex-direction: row;
  }
}

.main-nav__item:nth-child(2) .main-nav__link {
  @media (min-width: $tablet-width) {
    padding-left: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }
}

.main-nav__item:first-child .main-nav__link {
  @media (min-width: $tablet-width) {
    padding-left: 50px;
  }
}

.main-nav__item:nth-child(3) {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 35px;
  }
}

.main-nav__item:nth-child(4) .main-nav__link {
  @media (min-width: $desktop-width) {
    padding-left: 33px;
  }
}

.main-nav__item:nth-child(3) .main-nav__link {
  @media (min-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 10px;
  }
}

.main-nav__item {
  min-height: 55px;

  @media (max-width: $mobile-width-only) {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.main-nav__item--current a {
  @media (min-width: $tablet-width) {
    color: $brown;
  }
}
