.photo {
  display: flex;
  flex-direction: column;
}

.photo__likes-amount {
}

.photo__link {
  display: flex;
  justify-content: center;
}

.photo__name-wrapper {
  display: block;
  @media (min-width: $tablet-width) {
  }

  @media (min-width: $desktop-width) {
  }
}

.photo__info-wrapper {
  display: block;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
  }
}

.photo__author {
  text-transform: none;
  margin: 0;
}
