.popup-success {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 38px 20px 38px;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 640px;
    padding: 47px 38px 20px 38px;
  }

  &--opened {
    position: fixed;
    background-color: #ffffff;
    z-index: 3;
    top: 402px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 640px;
      padding: 53px 98px;
      padding-bottom: 0;
      top: 162px;
    }

    @media (min-width: $desktop-width) {
      top: 145px;
    }
  }


  &--closed {
    display: none;
  }
}

.popup-success__message {
  text-align: center;
  margin: 0;
  margin-bottom: 52px;
}

.popup-success__name {
  margin-bottom: 33px;
  line-height: 26px;
}

.popup-success__button-wrapper {
  background-color: $soft-gray;
}
