.title {
  font-family: "ptsans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--color {
    color: #ffffff;
  }

  &--photos {
    text-align: left;
    font-size: 14px;
    line-height: 21px;

    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }

  &--left {
    text-align: left;

    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }

  &--bold {
    font-size: 21px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 30px;
    }
  }

  &--tablet-padding {
    @media (min-width: $tablet-width) {
      display: flex;
      margin: 0;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      &::before {
        display: flex;
        content: "";
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
      }

      &::after {
        display: flex;
        content: "";
        width: 123px;
        height: 1px;
        background-color: #dbdbdb;
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        display: flex;
        content: "";
        width: 280px;
        height: 1px;
        background-color: #dbdbdb;
      }

      &::after {
        display: flex;
        content: "";
        width: 280px;
        height: 1px;
        background-color: #dbdbdb;
      }
    }
  }

  &--catalog {
    font-size: 18px;

    @media (min-width: $tablet-width) {
      font-size: 30px;
    }
  }
}
