.title {
  font-family: "ptsans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }

  &--color {
    color: #ffffff;
  }

  &--photos {
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;

    @media (min-width: $desktop-width) {
      color: #ffffff;
    }
  }

  &--left {
    text-align: left;
    @media (min-width: $tablet-width) {
      text-align: center;
    }
  }

  @media (min-width: $desktop-width) {
    // font-size: 21px;
  }

  &--bold {
    font-size: 21px;
    @media (min-width: $tablet-width) {
      font-size: 31px;
      line-height: 40px;
    }
  }
}
