@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin index-padding {
  padding-left: 18px;
  padding-right: 18px;
}

@mixin catalog-padding {
  padding-left: 20px;
  padding-right: 20px;
}

@mixin catalog-padding-tablet {
  padding-left: 60px;
  padding-right: 60px;
}

@mixin fieldset-reset {
  border: none;
  padding: 0;
  margin: 0;
}

@mixin flex-centring-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//conditions

@mixin blue-hover-style {
  background: #669ec0;
}

@mixin blue-active-style {
  color: rgba(255, 255, 255, 0.3);
  background: #5496bd;
}
